<% if task.erased %>
  <% row_class = 'hidden'%>
<%elsif task.checked%>
  <% row_class = 'success task-completed' %>
<% elsif task.deadline &&  !task.checked && task.has_upcoming_deadline? %>
    <% row_class = 'danger' %>
<%else%>
  <% row_class = '' %>
<% end %>

<% if task.checked  %>
  <% icon_class = 'glyphicon glyphicon-ok check-icon disable' %>
<% else %>
  <% icon_class = 'glyphicon glyphicon-unchecked check-icon ' %>
<% end %>



<tr class = "<%= row_class  %>" id = 'row-task-<%=task.id%>' >
  <td>
    <%= link_to project_check_task_path(project, task, checked: true), method: 'patch', remote: true do %>
      <span id="checkicon-task-<%=task.id%>" class= "<%=icon_class  %>"></span>
    <% end %>
  </td>
  <td><%= task.description %></td>
  <td><%= task.created_at.strftime("%b %d, %Y")%></td>
  <td><%= task.deadline.strftime("%b %d, %Y") if task.deadline%></td>
  <td>
    <%= link_to project_erase_task_path(project, task, erase: true), method: 'patch', remote: true do  %>
        <span class = "glyphicon glyphicon-edit"></span>
    <% end %>
    <%= link_to project_erase_task_path(project, task, erase: true), method: 'patch', remote: true do  %>
        <span class = "glyphicon glyphicon-trash trash-icon"></span>
    <% end %>
  </td>
</tr>