<% if task.erased %>
  <% row_class = 'hidden'%>
<% end %>

<% if !task.erased && task.checked %>
  <% row_class = 'success task-completed' %>
  <% icon_class = 'glyphicon glyphicon-ok check-icon disable' %>
<%elsif !task.erased && !task.checked %>
  <% row_class = '' %>
  <% icon_class = 'glyphicon glyphicon-unchecked check-icon ' %>
<% end %>

<tr class = "<%= row_class  %>" id = 'row-task-<%=task.id%>' >
  <td>
    <%= link_to project_check_task_path(project, task, checked: true), method: 'patch', remote: true do %>
      <span id="checkicon-task-<%=task.id%>" class= "<%=icon_class  %>"></span>
    <% end %>
  </td>
  <td><%= task.task_name %></td>
  <td><%= task.created_at.strftime("%b %d, %Y")%></td>
  <td><%= task.deadline.strftime("%b %d, %Y")%></td>
  <td>
    <%= link_to project_erase_task_path(project, task, erase: true), method: 'patch', remote: true do  %>
        <span class = "glyphicon glyphicon-trash"></span>
    <% end %>
  </td>
</tr>