
<!--Remember to include container in the application  and erase from here-->
<div class="row">
  <div class = "col-md-6">
    <%= link_to new_project_path do %>
      <button class='btn btn-primary'>
        <span class="glyphicon glyphicon-plus"></span> New Project
      </button>
    <%end%>
  </div>

  <div class="col-md-3">
    Sort by:
    <div class="btn-group">
      <button type="button" class="btn btn-default">Left</button>
      <button type="button" class="btn btn-default">Middle</button>
      <button type="button" class="btn btn-default">Right</button>
    </div>
  </div>

  <div class="col-md-3">
    <span class = "lol glyphicon glyphicon-calendar"></span>
  </div>
</div> <!-- end of row -->

  <% @projects.each do |project| %>
  <div class="row">
    <div class="col-md-9">
      <div class="my-container">
        <div class = "label-red"></div> <!-- task label -->
          <div class="row">
            <div class="col-md-5 box">
              <%= link_to project_path(project) do %>
                <h3 class="project-title"><%=project.title%></h3>
              <% end %>
              <small class ="created-at"><%=project.created_at.strftime("%b %d, %Y")%></small>
              <p><%= project.description%></p>
            </div> <!-- end of column 5 -->
            <div class="col-md-6 correcting-height">
              <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                  40%
                </div>
              </div>
              <p>(7) uncompleted tasks</p>
                <p>(5) pending deadlines</p>
                <%= link_to edit_project_path(project), {class: "edit-project"} do %>
                  <span class = 'glyphicon glyphicon-edit'></span>
                <%end%>
            </div> <!-- end of column 4 -->
          </div>
      </div>
    </div>
  </div>
<%end%>