<div class="row">
  <div class=" col-md-3 affix">
    <h3 class="project-title"><%=@project.title%></h3>
    <small class ="created-at"> Created at <%=@project.created_at.strftime("%b %d, %Y")%></small>
    <p class='project-description'><%= @project.description %></p>

    <%= render 'shared/pb', project: @project%>
    <form action="">
      <span id = 'checkbox-label'>Hide completed tasks </span> <input type="checkbox" id = "hide-completed" name="hide tasks" value="hiding">
    </form>
    <i id ='new-task' class="fa fa-plus-square-o"> </i> <span id='new-task'></span>
    
    <%= render 'tasks/form' %> 
  </div> <!-- end of header row (title & progress)  -->
  
  <div class = "col-md-8 col-md-offset-4">
    <%= render 'shared/errors', obj: @task %>
    <table class="table">
      <thead>
          <tr>
              <th width="10%">Status</th>
              <th width="50%">Description</th>
              <th width="15%">Created at</th>
              <th width="15%">Deadline</th>
              <th width="10%" ></th>
          </tr>
      </thead>
      <tbody id = 'task-table'>
      <% @project.tasks.order(created_at: :desc).each do |task|  %>
        <%= render 'tasks/task', task: task, project: @project %>
      <% end %>
    </table> <!-- end of task table -->
  </div> <!-- end of tasks div -->
</div> <!-- End of row  -->