
<div class="row"> 
  <div class="col-md-9"> <!-- extend the rows to length of 9 -->
    <div class="row">
      <div class="col-md-5">
        <h3 class="project-title"><%=@project.title%></h3>
        <small class ="created-at"><%=@project.created_at.strftime("%b %d, %Y")%></small>
      </div> <!-- end of column that contains title -->
      <div class="col-md-6">
        <%= render 'shared/pb', project: @project%>
      </div><!-- end of col that contains progress bar -->
    </div> <!-- end of first inner row (title & progress)  -->
    <div class="row">
      <div class="col-md-11"><%=@project.description%></div>
    </div>
    <%= render 'shared/errors', obj: @task %>
    <h3>Add new task</h3>
    <%= render 'tasks/create_task' %> 
    
    <table class="table">
      <thead>
          <tr>
              <th width="10%">Status</th>
              <th width="50%">Description</th>
              <th width="15%">Created at</th>
              <th width="15%">Deadline</th>
              <th width="10%" ></th>
          </tr>
      </thead>
      <tbody id = 'task-table'>
      <% @project.tasks.each do |task|  %>
        <%= render 'tasks/task', task: task, project: @project %>
      <% end %>
    </table> <!-- end of task table -->
  </div> <!-- end of col-md-9 -->
</div> <!-- end of outer row   -->
