<ul class="nav navbar-nav">
  <li>
    <%= link_to '#' do %>
      Welcome <span><%=user.user_name%>!</span>  
    <%end%>
  </li>

  <li>
    <%= link_to projects_path, id: 'total-number-of-projects' do%>
      Projects: <span id = 'nav-projects'><%=user.projects_total%> </span>
    <%end%>
  </li>

  <li>
    <%=link_to '#', id: 'total-number-of-deadlines' do%>
      Upcoming Deadlines: <span id='nav-deadlines'><%= user.upcoming_deadlines.size%></span>  
    <%end%>
  </li>
</ul>


<form class="navbar-form navbar-right" role="search">
  <%= link_to logout_path do %>
   <%= button_tag( :class => "btn btn-default") do %>
      <span class='glyphicon glyphicon-log-out'></span> Log Out 
    <% end %>
  <% end %>
</form>